<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FORM HANDLING </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>FORM HANDLING </h1>
<B>  
  <form action="/database" method="post">
    Name <input type="text" name="NAME" id="" placeholder
     ="Enter Your Name">
    <br><br>
    E-mail <input type="email" name="GMAIL" id="" placeholder="Enter your E-mail">
    <br><br>
    <input type="submit" value="submit">
  </form>
</B>
</body>
</html>